calsi/src/main/mule/multiplication.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="multiplicationFlow" doc:id="d73a9f5b-2179-4e72-95f3-1e34dea3c82b" >
		<set-variable value="#[attributes.QueryParams.number1]" doc:name="Set Variable" doc:id="52d8c04c-9a07-485c-bc4e-03ca0dc87f70" variableName="number1"/>
		<set-variable value="#[attributes.QueryParams.number2]" doc:name="Set Variable" doc:id="1e55d21b-1150-461e-a30e-d17a319824dd" variableName="number2"/>
		<ee:transform doc:name="Transform Message" doc:id="ebad19af-65da-4018-9781-b7fc7f206d59" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"result": vars.number1 * vars.number2
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
